body, html {
    height: 100%;
}

body {
    background-color: #b3e2ff;
    background-image: url("./img/stone.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
